<!-- config.xml -->
<config>
    <modules>
        <Wineshop_Taxes><!-- COMPANYNAME_MODULE -->
            <version>0.0.0.1</version>
        </Wineshop_Taxes>
    </modules>
    <global>
        <models>
            <taxes><!-- MODULE, just first letter is lowercased, i.e. module CustomAPI would be placed here as customAPI -->
                <class>Wineshop_Taxes_Model</class>
            </taxes>
        </models>
        <helpers>
            <taxes>
                <class>Wineshop_Taxes_Helper</class>
            </taxes>
        </helpers>
    </global>
</config>
